.pricing-panel {
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);
    border-radius: 12px;
    padding: 32px;
    background-color: #FFF;
    min-width: 350px;
    @media(max-width: 1080px) {
      margin-bottom: 32px;
      max-width: 350px;
    }
    p {
      font-size: 18px;
      line-height: 28px;
      text-align: center;
      margin-bottom: 24px;
    }
    h2 {
      font-size: 72px;
      margin-bottom: 32px;
      text-align: center;
      @media(max-width: 576px) {
        font-size: 54px;
      }
    }
    .pricing-row {
      div {
        border-bottom: 1px solid #979797;
        text-align: center;
        padding: 12px 0;
        &:first-child {
          border-top: 1px solid #979797;
        }
        &:last-child {
          margin-bottom: 32px;
        }
      }
    }
    .annually {
      display: none;
      opacity: 0;
      &.active {
        opacity: 1;
        display: block;
      }
    }
    
    .monthly {
      opacity: 0;
      display: none;
      &.active {
        opacity: 1;
        display: block;
      }
    }
  }
  .panel-pro {
    background-image: linear-gradient(135deg, #A2A7F0 0%, #696EDD 100%);
    color: white;
    padding: 64px 32px;
    z-index: 100;
    .pricing-row {
      div {
        border-bottom: 1px solid #FFF;
        &:first-child {
          border-top: 1px solid #FFF;
        }
        &:last-child {
          margin-bottom: 32px;
        }
      }
    }
  }